* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}

.menu-container {
  color: black;
  background-color: white; /* Blue */
  padding: 10px 0;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(194, 190, 194, 0.96);
  -moz-box-shadow: 0px 0px 7px 0px rgba(194, 190, 194, 0.96);
  box-shadow: 0px 0px 7px 0px rgba(194, 190, 194, 0.96);
  display: flex;
}

.menu {
  width: 900px;
  display: flex;
}

.trans-log {
  border: 1px solid #fff; /* For debugging */
  display: flex;
  margin-left: 250px;
}

.engima-search {
  display: flex;
}

.engima {
  font-family: Lato;
  font-weight: bold;
  margin-left: 305px;
}

a.dashboard {
  text-decoration: none !important;
  color: black;
}

b.engi {
  color: rgb(0, 193, 236);
  font-weight: bolder;
}

input.search {
  width: 230px;
  padding: 2.8px;
  border-radius: 5px;
  border-width: thin;
  margin-left: 60px;
}

input.search::placeholder {
  font-family: Lato;
  font-size: 10px;
  font-weight: bolder;
  color: gray;
  padding-left: 5px;
}

.search-bar {
  justify-content: center;
  display: flex;
}

.magnifier img {
  width: 17.5px;
  height: 17.5px;
  margin-left: -20px;
  margin-top: 4px;
}

a.transaction {
  font-family: Lato;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none !important;
  color: black;
  align-items: center;
  display: flex;
}

.logout {
  font-family: Lato;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none !important;
  color: black;
  margin-left: 50px;
  align-items: center;
  display: flex;
}
