<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Engima</title>
    <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
    <div class="menu-container">
        <div class="menu">
            <div class="engima"><a href="/" class="dashboard"><b class="engi">Engi</b>ma</a></div>
            <div class="search-bar">
                <div class="search-box">
                    <input class="search" type="text" placeholder="Search movie">
                </div>
                <div class="magnifier">
                    <img src="assets/search-icon.png" />
                </div>
            </div>
            </input>

            <div class="trans-log">
                <a href="/transaction" class="transaction">Transactions</a>
                <a href="/logout" class="logout">Logout</a>
            </div>
        </div>
    </div>
</body>

</html>