<!DOCTYPE html>
<html>
  <head>
    <title>Transaction History</title>
    <link rel="stylesheet" href="css/history.css" />
    <script type="text/javascript" src="js/include.js"></script>
  </head>
  <body>
    <header include="/head"></header>
    <div class="base-history">
      <div class="wrapper">
        <p class="history-title">Transaction History</p>
        <div class="history-content">
          <span class="history-image">
            <img src="assets/murica.jpg" />
          </span>
          <span class="history-name">
            <b class="movie-title">Captain America: The Winter Soldier</b>
            <p><b>Schedule: </b>&nbsp; September 29, 2019 - 03:00 PM</p>
          </span>
          <hr />
        </div>
        <div class="history-content">
          <span class="history-image">
            <img src="assets/murica.jpg" />
          </span>
          <span class="history-name">
            <b class="movie-title">Captain America: The Winter Soldier</b>
            <p><b>Schedule: </b>&nbsp; September 29, 2019 - 03:00 PM</p>
          </span>
          <div class="update-buttons">
            <button class="reviews-buttons add-review ">
              Add Review
            </button>
          </div>
          <hr />
        </div>
        <div class="history-content">
          <span class="history-image">
            <img src="assets/murica.jpg" />
          </span>
          <span class="history-name">
            <b class="movie-title">Captain America: The Winter Soldier</b>
            <p><b>Schedule: </b>&nbsp; September 29, 2019 - 03:00 PM</p>
            <h6>Your review has been submitted</h6>
          </span>
          <div class="update-buttons">
            <button class="reviews-buttons delete-review">Delete Review</button>
            <button class="reviews-buttons edit-review">Edit Review</button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  window.onload = includeHTML();
</script>
