<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>moviedesc</title>
  <link rel="stylesheet" href="/css/movie-desc.css" />
  <script type="text/javascript" src="/js/include.js"></script>
</head>

<body>
  <header include="/head"></header>
  <div class="base">
    <div class="main-container">
      <div class="upper-container">
        <div class="movie">
          <img class="movie-image" src="/assets/avengers endgame.jpeg" alt="Movie" />
        </div>
        <div class="description">
          <h2 class="movie-title">Avengers: Endgame</h2>
          <div class="genre">
            <div class="genre-item">
              <span class="genre-time">Drama, Fantasy, Adventure</span>
            </div>
            <div>
              <span class="symbol-separate">|</span>
            </div>
            <div class="genre-item">
              <span class="genre-time">187 mins</span>
            </div>
          </div>
          <p class="released-date">Released date: April 17, 2019</p>
          <div class="rating">
            <img class="star" src="/assets/star1.svg" alt="Rating" />
            <p class="score1">8.75</p>
            <p class="score2">/10</p>
          </div>
          <p class="brief-explanation">
            After the devastating events of Avengers: Infinity War (2018), the
            universe is in ruins. With the help of remaining allies, the
            Avengers assemble once more in order to reverse Thanos' actions
            and restore balance to the universe.
          </p>
        </div>
      </div>
      <div class="lower-container">
        <div class="schedules">
          <p class="schedules-title">Schedules</p>

          <table>
            <tr class="tabletop">
              <th class="tabletop seats-date">Date</th>
              <th class="tabletop">Time</th>
              <th class="tabletop">Available Seats</th>
              <th class="tabletop">
            </tr>
          </table>
        </div>

        <div class="reviews">
          <p class="reviews-title">Reviews</p>
          <div class="review-row">
            <div class="avatar-wrapper">
              <img alt="Avatar" class="avatar" src="assets/Joko Widodo.jpg"></img>
            </div>
            <div class="review-description">
              <p>antonio.wahyu</p>
              <div class="review-rating">
                <img src="assets/star1.svg" alt="User Rating" class="user-rating" />
                <p class="score">8</p>
                <p class="slash">/</p>
                <p class="total-score">10</p>
              </div>
              <p class="review-text-info">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna atiqua</p>

            </div>

          </div>
          <hr class="divider-review" />
          <div class="review-row">
            <div class="avatar-wrapper">
              <img alt="Avatar" class="avatar" src="assets/Joko Widodo.jpg"></img>
            </div>
            <div class="review-description">
              <p>antonio.wahyu</p>
              <div class="review-rating">
                <img src="assets/star1.svg" alt="User Rating" class="user-rating" />
                <p class="score">8</p>
                <p class="slash">/</p>
                <p class="total-score">10</p>
              </div>
              <p class="review-text-info">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna atiqua</p>

            </div>

          </div>
          <hr class="divider-review" />
          <div class="review-row">
            <div class="avatar-wrapper">
              <img alt="Avatar" class="avatar" src="assets/Joko Widodo.jpg"></img>
            </div>
            <div class="review-description">
              <p>antonio.wahyu</p>
              <div class="review-rating">
                <img src="assets/star1.svg" alt="User Rating" class="user-rating" />
                <p class="score">8</p>
                <p class="slash">/</p>
                <p class="total-score">10</p>
              </div>
              <p class="review-text-info">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna atiqua</p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="/js/movie-desc.js"></script>
</body>

</html>
<script type="text/javascript">
  window.onload = includeHTML();
</script>